body {
  background-image: url("../images/level-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 98vh;
}

* {
  font-family: "Sriracha";
}

.boxxx {
  overflow: hidden;
}

.container-cus {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

#confettis {
  position: absolute;
  top: -50%;
  height: 100%;
  width: 90vw;
  z-index: 1;
}

.confetti {
  left: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.con-animation {
  -webkit-animation: confetti 3s ease-in-out 0s 1;
          animation: confetti 3s ease-in-out 0s 1;
}

@-webkit-keyframes confetti {
  0% {
    -webkit-transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
            transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    -webkit-transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
            transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    -webkit-transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
            transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    -webkit-transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
            transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    -webkit-transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
            transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

@keyframes confetti {
  0% {
    -webkit-transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
            transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    -webkit-transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
            transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    -webkit-transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
            transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    -webkit-transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
            transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    -webkit-transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
            transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}
.confetti:nth-child(1) {
  left: 10%;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  background-color: #fc0120;
}

.confetti:nth-child(2) {
  left: 20%;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  background-color: #8257e6;
}

.confetti:nth-child(3) {
  left: 30%;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  background-color: #ffbf4d;
}

.confetti:nth-child(4) {
  left: 40%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
  background-color: #fe5d7a;
}

.confetti:nth-child(5) {
  left: 50%;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  background-color: #45ec9c;
}

.confetti:nth-child(6) {
  left: 60%;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  background-color: #f6e327;
}

.confetti:nth-child(7) {
  left: 70%;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
  background-color: #f769ce;
}

.confetti:nth-child(8) {
  left: 80%;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  background-color: #007de7;
}

.confetti:nth-child(9) {
  left: 90%;
  -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s;
  background-color: #63b4fc;
}

.confetti:nth-child(10) {
  left: 100%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
  background-color: #f9c4ea;
}

#start {
  --s: 0.25em; /* control the wave*/
  padding: 0.5em 1.2em;
  background-color: #bf4d28;
  color: #fff;
  --_s: calc(var(--s) * 4) 51% repeat-x;
  --_r: calc(1.345 * var(--s)) at left 50%;
  --_g1: #000 99%, #0000 101%;
  --_g2: #0000 99%, #000 101%;
  --mask: radial-gradient(var(--_r) top calc(var(--s) * 1.9), var(--_g1))
      calc(50% - 2 * var(--s) - var(--_i, 0px)) 0 / var(--_s),
    radial-gradient(var(--_r) top calc(var(--s) * -0.9), var(--_g2))
      calc(50% - var(--_i, 0px)) var(--s) / var(--_s),
    radial-gradient(var(--_r) bottom calc(var(--s) * 1.9), var(--_g1))
      calc(50% - 2 * var(--s) + var(--_i, 0px)) 100% / var(--_s),
    radial-gradient(var(--_r) bottom calc(var(--s) * -0.9), var(--_g2))
      calc(50% + var(--_i, 0px)) calc(100% - var(--s)) / var(--_s);
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-clip-path: polygon(calc(2 * var(--s) - var(--_i, 0px)) 0, calc(100% - var(--_i, 0px)) 0, calc(100% - var(--s)) 50%, calc(100% - 2 * var(--s) + var(--_i, 0px)) 100%, calc(0% + var(--_i, 0px)) 100%, var(--s) 50%);
          clip-path: polygon(calc(2 * var(--s) - var(--_i, 0px)) 0, calc(100% - var(--_i, 0px)) 0, calc(100% - var(--s)) 50%, calc(100% - 2 * var(--s) + var(--_i, 0px)) 100%, calc(0% + var(--_i, 0px)) 100%, var(--s) 50%);
  cursor: pointer;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

#start.alt {
  -webkit-clip-path: polygon(calc(0% - var(--_i, 0px)) 0, calc(100% - 2 * var(--s) - var(--_i, 0px)) 0, calc(100% - var(--s)) 50%, calc(100% + var(--_i, 0px)) 100%, calc(2 * var(--s) + var(--_i, 0px)) 100%, var(--s) 50%);
          clip-path: polygon(calc(0% - var(--_i, 0px)) 0, calc(100% - 2 * var(--s) - var(--_i, 0px)) 0, calc(100% - var(--s)) 50%, calc(100% + var(--_i, 0px)) 100%, calc(2 * var(--s) + var(--_i, 0px)) 100%, var(--s) 50%);
}

#start:hover {
  --_i: calc(2 * var(--s));
}

#start.alt:hover {
  --_i: calc(-2 * var(--s));
}

#start:active {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.2666666667)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.2666666667) 0 0);
}

#start:focus-visible {
  -webkit-mask: none;
  -webkit-clip-path: none;
          clip-path: none;
  outline-offset: 0.1em;
  padding-block: 0.2em;
  margin-block: 0.2em;
  -webkit-transition: 0s;
  transition: 0s;
}

#start {
  font-family: system-ui, sans-serif;
  font-size: 2.5rem;
  margin: 0;
  cursor: pointer;
  border: none;
}

.button-19 {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 4px 8px;
  text-align: center;
  text-transform: uppercase;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-20 {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 4px 8px;
  text-align: center;
  text-transform: uppercase;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-19:after {
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-20:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: no-drop !important;
  opacity: 0.5;
}

.button-20:disabled {
  cursor: no-drop !important;
  opacity: 0.5;
}