#level {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: url(../images/lavel-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.level {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.level-btn {
  font-family: "Sriracha", cursive !important;
}

.bag {
  max-width: 200px;
  position: absolute;
  top: 5%;
  left: 20%;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
}

.document {
  max-width: 250px;
  position: absolute;
  bottom: 10%;
  right: 15%;
}

.level-card {
  padding: 60px 80px;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 999;
  border-radius: 6px;
}

.animation {
  -webkit-animation: levelSection 1s 0s;
          animation: levelSection 1s 0s;
}

@-webkit-keyframes levelSection {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes levelSection {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  .bag {
    max-width: 180px;
    top: 10%;
    left: 0;
  }
  .document {
    max-width: 180px;
    bottom: 10%;
    right: 0;
  }
}
@media screen and (max-width: 468px) {
  .level-btn {
    width: 100%;
  }
  .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
  .bag {
    max-width: 140px;
  }
  .document {
    max-width: 140px;
  }
  .level-card {
    padding: 30px 40px;
  }
}