#level {
  transition: all 0.4s ease-in-out;
  background-color: #009be1;
  background-image: url("../images/level-back.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.level-card-text {
  color: #fff;
}
.level {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.level-btn {
    
  border: none !important;
  padding: 6px 12px !important;
  border-radius: 8px !important;
  color: #fff !important;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s;
}

.level-btn span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.level-btn:hover span {
  transform: translateY(0) scale(2);
}

.level-btn span:nth-child(1) {
  --n: 1;
}

.level-btn span:nth-child(2) {
  --n: 2;
}

.level-btn span:nth-child(3) {
  --n: 3;
}

.level-btn span:nth-child(4) {
  --n: 4;
}
.btn-group {
  display: flex;
  gap: 30px;
}
.btn-success {
  span {
    background-color: rgb(1, 78, 1);
  }
}
.btn-warning {
  span {
    background-color: rgb(255, 231, 19);
  }
}

.level-btn {
  font-family: "Sriracha", cursive !important;
}
.btn-danger {
  span {
    background-color: rgb(255, 0, 0);
  }
}
.level-card {
  padding: 60px 80px;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 999;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
}

.levelAnimation {
  animation: levelSection 2s 0s;
}

.gameAnimation {
  animation: gameSection 4s 0s;
}

@keyframes gameSection {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes levelSection {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 468px) {
  .level-btn {
    width: 100%;
  }
  .btn-group {
    flex-direction: column;
    gap: 8px;
  }
  .level-card {
    padding: 30px 40px;
  }
}
